body{
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    margin:0;
    padding:0;
}

body a{
    text-decoration: none !important;
}
body a:link {
    color:#d2d2d2;
}
body a:visited {
    color:#a9a7a7;

}
body a:hover{
    color:#f9fffa;
}
body a:active {
    color:#656565;

}

/*Navbar*/
.navbar{
    display:flex;
    background-color: #000000;
    border-bottom: 2px solid #44d62c;
}

.navbar img{
    width:35px;
    height:35px;
    padding-left:160px;
    margin-top:14px;
    margin-bottom: 11px;
}

.navbar li{
    display:inline-block;
    font-size:16px;
    margin-top:5px;
    line-height: 19.2px;
    margin-left:40px;
    margin-right:29px;

}
.navbar .right{
    font-size: 16px;
    margin-top:22px;

}
.search{
    margin-left:52px;
}
.cart{
    margin-left:61px;
    margin-right:0px;
}

/*Below navbar*/
.below-navbar p{
    color: #ffffff;
    background-color: #555555;
    padding:14px;
    font-family: 'Roboto', sans-serif !important;
    height:auto;
    font-size: 14px;
    margin-top:0px;
}


/*Hero image one*/
.hero-image-one-desktop {
    margin-top:-34px;
    color:#ffffff;
    width:100%;
    height:700px;
    font-family: 'Roboto', sans-serif !important;
    background-image: url('assets/back-to-school-homepage-desktop2x.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.hero-image-one-desktop h1 {
    padding-top:4%;
    font-size:50px;
}
.hero-image-one-desktop h2{
    font-weight:lighter;
    margin-top:-25px;

}
.hero-image-one-desktop p{
    font-size: 21px;
    width:8%;
    
}

.hero-image-one-desktop p:hover{
    cursor:pointer;
    border-bottom:2px solid white;

}
.hero-image-one-desktop i{
    color: rgb(4, 191, 4);
    font-size: 12px;
    margin-left: 0.2%;
}

/*Hero image one mobile*/
.hero-image-one-mobile{
    display:none;
}







/*MEDIA QUERY*/
@media screen and (min-width:150px) and (max-width:980px){
    .navbar{
        text-align: center;
    }
    .navbar li{
        display: none;
    }
    .navbar img{
        margin-left:15%;
    }
    .search{
        display:none;
    }
    .cart{
        margin-left:150px;
    }
  
    
    .hero-image-one-desktop{
        display:none;
    }
    .hero-image-one-mobile{
        display:block;
    }
    .hero-image-one-mobile {
        margin-top:-20px;
        color:#ffffff;
        width:100%;
        height:500px;
        font-family: 'Roboto', sans-serif !important;
        background-image: url('assets/back-to-school-homepage-mobile2x.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
    
    }
    
    .hero-image-one-mobile h1 {
        padding-top:15%;
        font-size:30px;
    }
    .hero-image-one-mobile h2{
        font-size:17px;
        font-weight:lighter;
        margin-top:-10px;
    
    }
    .hero-image-one-mobile p{
        font-size: 17px;
        width:20%;
        
    }
    
    .hero-image-one-mobile p:hover{
        cursor:pointer;
        border-bottom:1px solid white;
    
    }
    .hero-image-one-mobile i{
        color: rgb(4, 191, 4);
        font-size: 12px;
        margin-left: 0.2%;
    }
    
}